[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
langchain = "*"
konlpy = "*"
nltk = "*"
tqdm = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.12"
